{% extends 'home.html' %}{% load static %}

{% block title %}<title>Gestion des Utilisateurs</title>{% endblock %}
{% block styles %}<link rel="stylesheet" type="text/css" href={% static 'css/utilisateur_form.css' %}>{% endblock styles %}

{% block onglet %}
<div class="flex flex-col items-center w-full h-full min-h-full p-2">
  <div class="flex justify-center p-2 my-auto w-fit">
    <form action={% url 'utilisateur.add' %} method="POST">
      {% csrf_token %}{{form.as_p}}
      <p class="flex justify-between actions">
        <button type="submit">Valider</button>
        <button type="reset">Réinitaliser</button>
        <button type="cancel"><a href={% url 'utilisateur.list' %}>Annuler</a></button>
      </p>
    </form>
  </div>
</div>
{% endblock %}