{% extends 'base.html' %}{% load static %}

{% block title %}<title>Administration</title>{% endblock %}
{% block scripts %}<script src="https://cdn.tailwindcss.com"></script>{% endblock %}

{% block content %}
<div class="fixed flex justify-between w-screen px-5 pt-5 bg-amber-50">
  <a href="{% url 'home' %}">Home</a>
  <!--
    
    bg-amber-50 : couleur ambre à 5% pour le fond
    h-screen : passe la hauteur de la fenêtre à l'élement
    xl: : permet d'attribuer un style si la largeur de l'écran est supérieur à 1280 pixels
    md: : permet d'attribuer un style si la largeur de l'écran est supérieur à 768 pixels
    py-52 : met un padding (l'écrase) de 52 pixels sur sa position y (son dessus et son bas)
    px-72 : met un padding (l'écrase) de 72 pixels sur sa position x (sa gauche et sa droite)
  -->
  <a href="{% url 'logout' %}">Logout</a>
</div>

<div class="w-screen h-full min-h-screen pt-12 bg-amber-50 xl:py-52 xl:px-72 md:py-16 md:px-16">
  
  <!--
    relative : donne un point d'ancrage aux balises enfant
    bg-amber-100 : couleur ambre à 10% pour le fond
    grid : transforme l'intérieur de l'élement en grille
    w-full : prend la largeur entière du parent (width full)
    h-full : prend la hauteur entière du parent (height full)
    place-items-center : place les élements enfant au centre
    border-4 : épaisseur de bordures à 4 pixels
    border-black : bordures couleur noir
    rounded : bordures arrondis
  -->
  <div class="relative w-full h-full min-w-full min-h-full border-4 border-black rounded bg-amber-100 place-items-center">
    
    <!--
      absolute : place l'élement sur une position absolue (détacher des autres enfants)
      h-5 : donne une hauteur de 5 pixels à l'élement (height 5 pixels)
      grid-cols-10 : découpe l'élément en 10 grillles
      fixed : fixe l'élement sur sur le parent
      -top-7 : espace l'élement à -7 pixels de son dessus
      inset-x-5: espace l'élement à 5 pixels de sa position x (sa gauche et sa droite)
      min-w-fit : adapte sa largeur au contenu
      min-[370px]: permet d'attribuer un style si la largeur de l'écran est supérieur à 370 pixels
      block : élement visible
      hidden : élement cacher
    -->
    <div class="absolute w-full h-5 -top-7 md:inset-x-5 min-w-fit min-[370px]:block hidden">
      
      <!-- 
      border-b-0 : épaisseur de bordure bas (-b- pour bottom) à 0 pixel
      -->
      <div class="float-left border-4 border-b-0 border-black rounded bg-amber-100 w-fit">
        <a href={% url 'utilisateur.home' %}>Utilisateurs</a>
      </div>
      <div class="float-left border-4 border-b-0 border-black rounded bg-amber-100 w-fit">
        <a href={% url 'ongletObjets' %}>Objets</a>
      </div>
      <div class="float-left border-4 border-b-0 border-black rounded bg-amber-100 w-fit">
        <a href={% url 'home' %}>Poids</a>
      </div>
      <div class="float-left border-4 border-b-0 border-black rounded bg-amber-100 w-fit">
        <a href={% url 'ongletEmballages' %}>Emballages</a>
      </div>
      <div class="float-left border-4 border-b-0 border-black rounded bg-amber-100 w-fit">
        <a href={% url 'ongletCommunes' %}>Communes</a>
      </div>
    </div>
    <div class="absolute w-full h-5 -top-7 md:inset-x-5 min-w-fit min-[370px]:hidden block">

      <!-- 
      border-b-0 : épaisseur de bordure bas (-b- pour bottom) à 0 pixel
      -->
      <div class="w-full text-center border-4 border-b-0 border-black rounded bg-amber-100">
        <a href="">écran trop petit</a>
      </div>
    </div>

    <div class="relative w-full h-full">

      <!--
      À toi de jouer 👍
      -->
      {% block onglet %}<p>Put ur table here</p>{% endblock onglet %}
    </div>
  </div>
</div>
{% endblock %}
