<!DOCTYPE html>
<html lang="fr">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fromagerie.com</title>
  </head>
  <body>
    <!--
        bg-amber-50 : couleur ambre à 5% pour le fond
        h-screen : passe la hauteur de la fenêtre à l'élement
        xl: : permet d'attribuer un style si la largeur de l'écran est supérieur à 1280 pixels
        md: : permet d'attribuer un style si la largeur de l'écran est supérieur à 768 pixels
        py-52 : met un padding (l'écrase) de 52 pixels sur sa position y (son dessus et son bas)
        px-72 : met un padding (l'écrase) de 72 pixels sur sa position x (sa gauche et sa droite)
    -->

    <a class="flex justify-end pt-5 pr-5 bg-amber-50" href="{% url 'logout' %}"
      >Logout</a
    >

    <div class="bg-amber-50 h-screen xl:py-52 xl:px-72 md:py-16 md:px-16 pt-12">
      <!--

            relative : donne un point d'ancrage aux balises enfant
            bg-amber-100 : couleur ambre à 10% pour le fond
            grid : transforme l'intérieur de l'élement en grille
            w-full : prend la largeur entière du parent (width full)
            h-full : prend la hauteur entière du parent (height full)
            place-items-center : place les élements enfant au centre
            border-4 : épaisseur de bordures à 4 pixels
            border-black : bordures couleur noir
            rounded : bordures arrondis
        -->

      <div
        class="relative grid bg-amber-100 w-full h-full place-items-center border-4 border-black rounded min-w-full"
      >
        <!--

                absolute : place l'élement sur une position absolue (détacher des autres enfants)
                h-5 : donne une hauteur de 5 pixels à l'élement (height 5 pixels)
                grid-cols-10 : découpe l'élément en 10 grillles
                fixed : fixe l'élement sur sur le parent
                -top-7 : espace l'élement à -7 pixels de son dessus
                inset-x-5: espace l'élement à 5 pixels de sa position x (sa gauche et sa droite)
                min-w-fit : adapte sa largeur au contenu
                min-[370px]: permet d'attribuer un style si la largeur de l'écran est supérieur à 370 pixels
                block : élement visible
                hidden : élement cacher
            -->


        <div
          class="absolute w-full h-5 fixed -top-7 md:inset-x-5 min-w-fit min-[370px]:block hidden"
        >
          <!-- 
                    border-b-0 : épaisseur de bordure bas (-b- pour bottom) à 0 pixel
                 -->
          <div
            class="bg-amber-100 border-4 border-b-0 border-black rounded w-fit float-left"
          >
            <a href="">Utilisateurs</a>
          </div>
          <div
            class="bg-amber-100 border-4 border-b-0 border-black rounded w-fit float-left"
          >
            <a href="/home/ongletObjets/">Objets</a>
          </div>
          <div
            class="bg-amber-100 border-4 border-b-0 border-black rounded w-fit float-left"
          >
            <a href="">Poids</a>
          </div>
          <div
            class="bg-amber-100 border-4 border-b-0 border-black rounded w-fit float-left"
          >
            <a href="/home/ongletEmballages/">Emballages</a>
          </div>
          <div
            class="bg-amber-100 border-4 border-b-0 border-black rounded w-fit float-left"
          >
            <a href="/home/ongletCommunes/">Communes</a>
          </div>
        </div>

        <div
          class="absolute w-full h-5 fixed -top-7 md:inset-x-5 min-w-fit min-[370px]:hidden block"
        >
          <!-- 
                    border-b-0 : épaisseur de bordure bas (-b- pour bottom) à 0 pixel
                 -->
          <div
            class="bg-amber-100 border-4 border-b-0 border-black rounded w-full text-center"
          >
            <a href="">écran trop petit</a>
          </div>
        </div>

        <!--
                À toi de jouer 👍
            -->
        <div>
          <!-- Bouton pour ajouter un conditionnement -->
<div id="ajouter_conditionnement" onclick="champsAjouterConditionnement()">Ajouter un emballage</div>

<!-- Champs et bouton de validation pour ajouter un conditionnement -->
<div id="ajouter_conditionnement_value">
</div>

<!-- Champs et bouton de validation/annulation pour modifier un conditionnement -->
<div id="modifier_conditionnement_value">
</div>

<script>
    //Fonction pour faire apparaître les champs et le bouton de validation
    function champsAjouterConditionnement() {
        document.getElementById("ajouter_conditionnement_value").innerHTML = `
        <p>Saisir les données du nouveau emballage :</p>
        <label for="nom_conditionnement">Nom de l'emballage</label>
        <input type="text" id="nom_conditionnement" name="nom_conditionnement" required minlength="1" size="10" onblur="getValueNom_conditionnement()">
        <label for="poids_conditionnement">Poids de l'emballage</label>
        <input type="number" id="poids_conditionnement" name="poids_conditionnement" required minlength="1" size="10" onblur="getValuePoids_conditionnement()">
        <label for="tarif_conditionnement">Tarif de l'emballage</label>
        <input type="number" step=".0001" id="tarif_conditionnement" name="tarif_conditionnement" required minlength="1" size="10" onblur="getValueTarif_conditionnement()">
        <div id="ajouter_conditionnement_insertion" onclick="insertionConditionnement()">Valider l'ajout de l'emballage</div>
        <div id="annuler_conditionnement_insertion" onclick="annulerInsertionConditionnement()">Annuler l'ajout de l'emballage</div>
        `;
    }

    //Déclaration des variables hors des fonctions
    let nom_conditionnement_value = "";
    let poids_conditionnement_value = "";
    let tarif_conditionnement_value = "";

    //Affectation de la valeur du nom du conditionnement
    function getValueNom_conditionnement() {
        nom_conditionnement_value = document.getElementById("nom_conditionnement").value;
    }
    //Affection de la valeur du poids du conditionnement
    function getValuePoids_conditionnement() {
        poids_conditionnement_value = document.getElementById("poids_conditionnement").value;
    }
    //Affectation de la valeur du tarif du conditionnement
    function getValueTarif_conditionnement() {
        tarif_conditionnement_value = document.getElementById("tarif_conditionnement").value;
    }

    //Fonction pour insérer le conditionnement dans la base de données
    function insertionConditionnement() {
        document.location.href="/home/ajoutConditionnement/"+nom_conditionnement_value+"_"+poids_conditionnement_value+"_"+tarif_conditionnement_value
    }

    //Fonction pour annnuler l'insertion du conditionnement dans la base de données
    function annulerInsertionConditionnement() {
        document.getElementById("ajouter_conditionnement_value").innerHTML = "";
    }

    //Déclaration des variables hors des fonctions
    let nom_conditionnement_modifier_value = "";
    let poids_conditionnement_modifier_value = "";
    let tarif_conditionnement_modifier_value = "";

    let ancienne_id_conditionnement = "Null";

    //Fonction pour faire apparaître les champs pour modifier un conditionnement
    function champsModifierLigneConditionnement(id_conditionnement) {
        if (ancienne_id_conditionnement != "Null") {
            document.getElementById("boutton_modifier_"+ancienne_id_conditionnement).innerHTML = "Modifier cette ligne";
        }
        document.getElementById("boutton_modifier_"+id_conditionnement).innerHTML = "En cours de modification";
        nom_conditionnement_modifier_value = "";
        poids_conditionnement_modifier_value = "";
        tarif_conditionnement_modifier_value = "";
        document.getElementById("modifier_conditionnement_value").innerHTML = ""
        document.getElementById("modifier_conditionnement_value").innerHTML += `
        <p>Saisir les nouvelles données de l'emballage `+id_conditionnement+` :</p>
        <label>Nom de l'emballage</label>
        <input type="text" id="nom_conditionnement_modifier" name="nom_conditionnement_modifier" required minlength="1" size="10" onblur="getValueModifierNom_conditionnement()">
        <label>Poids de l'emballage</label>
        <input type="number" id="poids_conditionnement_modifier" name="poids_conditionnement_modifier" required minlength="1" size="10" onblur="getValueModifierPoids_conditionnement()">
        <label>Tarif de l'emballage</label>
        <input type="number" step=".0001" id="tarif_conditionnement_modifier" name="tarif_conditionnement_modifier" required minlength="1" size="10" onblur="getValueModifierTarif_conditionnement()"></div>
        <div id="modifier_conditionnement_insertion" onclick="modifierLigneConditionnement(`+id_conditionnement+`)">Valider la modification de l'emballage</div>
        <div onclick="supprimerChampsModifierLigneConditionnement(`+id_conditionnement+`)">Annuler la modification de l'emballage</div>
        `;
        ancienne_id_conditionnement = id_conditionnement;
    }

    function supprimerChampsModifierLigneConditionnement(id_conditionnement) {
        document.getElementById("boutton_modifier_"+id_conditionnement).innerHTML = "Modifier cette ligne";
        document.getElementById("modifier_conditionnement_value").innerHTML = "";
    }

    //Affectation de la valeur du nom du conditionnement
    function getValueModifierNom_conditionnement() {
        nom_conditionnement_modifier_value = document.getElementById("nom_conditionnement_modifier").value;
    }
    //Affection de la valeur du poids du conditionnement
    function getValueModifierPoids_conditionnement() {
        poids_conditionnement_modifier_value = document.getElementById("poids_conditionnement_modifier").value;
    }
    //Affectation de la valeur du tarif du conditionnement
    function getValueModifierTarif_conditionnement() {
        tarif_conditionnement_modifier_value = document.getElementById("tarif_conditionnement_modifier").value;
    }

    //Fonction pour modifier la ligne d'un conditionnement
    function modifierLigneConditionnement(id_conditionnement) {
        document.location.href="/home/modificationConditionnement/"+id_conditionnement+"_"+nom_conditionnement_modifier_value+"_"+poids_conditionnement_modifier_value+"_"+tarif_conditionnement_modifier_value
    }


</script>

<table style="border: 5px solid purple;">
    <tbody>
        <tr style="border: 5px solid purple;">
            <td style="border: 3px solid purple;">Nom</td>
            <td style="border: 3px solid purple;">Poids</td>
            <td style="border: 3px solid purple;">Tarif</td>
            <td style="border: 3px solid purple;">ID</td>
        </tr>
        {% for conditionnement in Conditionnements %}
        <tr style="border: 5px solid purple;">
            <td style="border: 2px solid green;">{{conditionnement.libcondit}}</td>
            <td style="border: 2px solid green;">{{conditionnement.poidscondit}}</td>
            <td style="border: 2px solid green;">{{conditionnement.prixcond}}</td>
            <td style="border: 2px solid green;">{{conditionnement.idcondit}}</td>
            <td style="border: 2px solid green;"><div id="boutton_modifier_{{conditionnement.idcondit}}" onclick="champsModifierLigneConditionnement({{conditionnement.idcondit}})">Modifier cette ligne</div></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
        </div>
      </div>

    </div>
  </body>
</html>
