{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href={% static 'favicon.ico' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/base.css' %}>
  <script src="https://cdn.tailwindcss.com"></script>
  {% tailwind_css %}
  {% block styles %}{% endblock %}
  {% block title %}{% endblock %}
</head>
<body class="w-screen h-full min-h-screen font-sans leading-normal tracking-normal">
  <div class="w-screen h-full min-h-screen">
    {% block content %}{% endblock %}
  </div>
  
  <!-- 
    TODO: fix scripts not being loaded
  -->
  {% block scripts %}{% endblock scripts %}
</body>
</html>
