{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    {% block styles %}{% endblock %}
    {% block title %}{% endblock %}
	</head>

	<body class="font-serif leading-normal tracking-normal">
		<div class="container h-screen">
			{% block content %}{% endblock %}
		</div>
	</body>

  {%block scripts %}{% endblock %}

</html>
