{% extends 'home.html' %}{% load static %}

{% block styles %}<link rel="stylesheet" href={% static 'css/styles.css' %}>{% endblock %}
{% block title %}<title>Gestion des Utilisateurs</title>{% endblock %}

{% block onglet %}
<div class="grid grid-rows-auto utilisateur-list">
  {% for utilisateur in utilisateurs %}
  <div class="grid grid-cols-5 utilisateur">
    <div class="w-fit complete-name">{{utilisateur.prenom_utilisateur}} {{utilisateur.nom_utilisateur}}</div>
    <div class="w-fit lastname">{{utilisateur.nom_utilisateur}}</div>
    <div class="role">
      {% if utilisateur.is_superuser %}<p>Admin</p>{% endif %}
      <p>{{utilisateur.code_role.lib_role}}</p>
    </div>
    <div class="flex action">
      <a href={% url 'utilisateur.change' utilisateur.code_utilisateur %}>
        <button>modifier</button>
      </a>
      <form action={% url 'utilisateur.toggle' utilisateur.code_utilisateur %} method="POST"> {% csrf_token %}
        <button id="toggle_active" type="submit" name="toggle_active">{% if utilisateur.is_active %}desactiver{% else %}activer{% endif %}</button>
      </form>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
