{% extends 'base.html' %} {% block content %}
<div class="grid grid-rows-auto utilisateur-list">
  {% for utilisateur in utilisateurs %}
  <div class="grid grid-cols-5 utilisateur">
    <div class="w-fit complete-name">
      <p>

        {{utilisateur.prenom_utilisateur}} {{utilisateur.nom_utilisateur}}
      </p>
    </div>
    <div class="w-fit lastname">
      <p>

        {{utilisateur.nom_utilisateur}}
      </p>
    </div>
    <div class="role">
      {% if utilisateur.is_superuser %}
      <p>Admin</p>
      {% endif %}
      <p>{{utilisateur.code_role.lib_role}}</p>
    </div>
    <div class="flex action">
      <a href={% url 'utilisateur.change' utilisateur.code_utilisateur %}>modifier</a>
      <form action={% url 'utilisateur.toggle' utilisateur.code_utilisateur %} method="POST">
        {% csrf_token %}
        <input type="submit" name="toggle_active">{% if utilisateur.is_active %}desactiver{% else %}activer{% endif %}</input>
      </form>
    </div>
  </div>
  {% endfor %}
</div>

{% comment %} <div class="flex flex-wrap w-full">
  <div class="">1</div>
  <div class="">2</div>
  <div class="">3</div>
  <div class="">4</div>
</div> {% endcomment %}
{% endblock %}
